
{% include "include/school-page/block/bner-school-block.njk" %}

{% include "include/school-page/block/introduce-block.njk" %}

{% include "include/school-page/block/learning-osmo-block.njk" %}

{% include "include/school-page/block/stripe-for-grades.njk" %}


{% include "include/school-page/block/school-stripe-block.njk" %}

{% include "include/school-page/block/teach-with-osmo-block.njk" %}

{% include "include/school-page/block/school-carousel-block.njk" %}

{% include "include/school-page/block/content-traning-block.njk" %}

{% include "include/school-page/block/osmo-case-block.njk" %}

{% include "include/school-page/block/get-osmo-block.njk" %}

{% include "include/school-page/block/need-funding-block.njk" %}

{% include "include/school-page/block/community-block.njk" %}