<div class="faq-block">
    <div class="container">
        <div class="category-section-list">

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What do I need to play Osmo?</p>
                </div><!--.section-link-head-->

                <div class="section-link-body">
                    <p class="body-p">All you need is:</p>
                    <ul class="body-content">
                        <li>a compatible iPad, Amazon Fire tablet or iPhone,</li>
                        <li>an Osmo base suitable for your device,</li>
                        <li>and an internet connection.</li>
                    <ul>
                </div><!--.section-link-body-->
            </div>

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What tablets and phones is Osmo compatible with?</p>
                </div><!--.section-link-head-->

                <div class="section-link-body">
                    <ul class="body-content">
                        <li>Compatible iPads: iPad 2, iPad (3rd Generation), iPad (4th Generation), 
                        iPad (5th Generation), iPad (6th Generation), iPad Mini, iPad Mini 2, iPad Mini 3, 
                        iPad Mini 4, iPad Air, iPad Air 2, the 9.7-inch and 10.5-inch iPad Pro.
                        <p class="body-p">Osmo is currently not compatible with the 11-inch and 12.9-inch iPad Pro.</p>
                        <p class="body-p">The minimum iOS version needed is iOS 8.</p>
                        </li>
                        <li>Compatible Fire Tablets: 7th Generation Fire 7, 7th Generation Fire HD 8,
                         7th Generation Fire HD10, 8th Generation Fire HD 8.
                         </li>
                        <li>Compatible iPhones: iPhone 6, 6s, 6 Plus, 6s Plus, 7, 7 Plus, 8 and 8 Plus.</li>
                    <ul>
                </div><!--.section-link-body-->
            </div>

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What ages is Osmo designed for?</p>
                </div><!--.section-link-head-->
                <div class="section-link-body">
                   <p class="body-p">Most Osmo games are designed for ages 5–11, with the exception of
                    Monster and SuperStudio (ages 4+) and Coding Duo (ages 7–11).</p>
                </div><!--.section-link-body-->
            </div>

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What languages does Osmo support?</p>
                </div><!--.section-link-head-->
                <div class="section-link-body">
                   <p class="body-p">Monster is fully playable in both English and Spanish.</p>
                   <p class="body-p">Our other apps generally only fully support English, but most of the on-screen
                   prompts are also translated into Danish, Dutch, French, German, Italian, Japanese,
                   Simplified Chinese, Spanish, Swedish, and Traditional Chinese.</p>
                   <p class="body-p">Note too that the Words game letter tiles are available in English alphabet letters only.</p> 
                </div><!--.section-link-body-->
            </div>

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What is the educational value of Osmo?</p>
                </div><!--.section-link-head-->
                <div class="section-link-body">
                    <p class="body-p">Osmo teaches:</p>
                    <ul class="body-content">
                        <li>Coding with Coding Awbie, Coding Jam and Coding Duo</li>
                        <li>Drawing skills and creative confidence with Monster, Super Studio, and Masterpiece</li>
                        <li>Spelling and critical thinking with Words</li>
                        <li>Spatial relational skills with Tangram</li>
                        <li>World geography and cultural competency with Detective Agency</li>
                    <ul>
                </div><!--.section-link-body-->
            </div>

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What happens if I lose or break a game piece?</p>
                </div><!--.section-link-head-->
                <div class="section-link-body">
                   <p class="body-p">We’re happy to replace lost or broken game pieces free of charge,
                    within reason, for the first 90 days. Simply log in to myOsmo 
                    (or create an account if you don’t already have one). 
                    Click on your name in the top right corner, select “Replacements” from the dropdown menu and fill out the form.
                     We’ll send you an email confirmation that we received your request, as well as a notification once it ships.</p>
                </div><!--.section-link-body-->
            </div>

            <div class="question-accordion">
                <div class="section-link-head">
                    <div class="link-arrow-down"></div>
                    <p class="head-p">What happens if I lose or break the red reflector?</p>
                </div><!--.section-link-head-->
                <div class="section-link-body">
                   <p class="body-p">You can purchase a replacement red reflector on our website in the “Accessories” section</p>
                </div><!--.section-link-body-->
            </div>

        </div>


    </div><!--.container-->
</div><!--.faq-block-->