
<div class="faq-contact">
    <div class="container">
        <h2 class="contact-title">Didn’t find what you were looking for?</h2>
        <p class="contact-desc">Visit our <a> Help Center </a> for more information.</p>
    </div>
</div><!--faq-contact-->