<footer class="footer-block">
  <div class="footer-social">
    <div class="container">
      <div class="main-link-footer">
        <ul class="main-menu-link-list">
          <li><a href="#">Find in Store</a></li>
          <li><a href="#">Osmo Social Club</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Support</a></li>
          <li>
            <div class="nation-footer">
              <img src="/images/flag.png">
              <a href="#">Singapore</a>
            </div>
          </li>
        </ul>
        
      </div><!--.main-link-footer-->

      <div class="page-footer">

        <div class="page-footer-letter">

          <div class="page-footer-letter-text">Sign up for our newsletter to hear about our new games and promotions!</div>

          <div class="footer-email-form">
            <input name="email" type="email" class="footer-email-input" placeholder="Your email address">
            <button class="footer-email-btn">Sign up</button>
          </div><!--page-footer-letter-email-->

        </div><!--page-footer-letter-text-->

        <div class="social-icon-footer">
          <a class="icon-facebook" href="#"><i class="fa fa-facebook"></i></a> 
          <a class="icon-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="icon-instagram" href="#"><i class="fa fa-instagram"></i></a> 
          <a class="icon-pinterest" href="#"><i class="fa fa-pinterest"></i></a> 
          <a class="icon-youtube" href="#" ><i class="fa fa-youtube"></i></a>
        </div><!--.social-icon-footer-->

      </div><!--.page-footer-->

    </div><!--.container-footer-social-->

  </div><!--.footer-social-->

  <div class="footer-link-section">
    <div class="footer-2ndary-link">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
    </div><!--.footer-2ndary-link-->
    <div class="container">
      <div class="footer-statament">
        <p>Osmo™, Awbie™, and Tangible Play™ are trademarks of Tangible Play, Inc..</p>
        <p>Mickey Mouse and Friends and Disney Princess ©Disney. The Incredibles 2 ©Disney/Pixar.</p>
      </div>
    </div>
  </div><!--.footer-link-section-->
  
</footer><!--.footer-block-->