<header class="header-block">
  <div class="mobile-menu">
    <div class="mobile-menu-inner">
      <ul class="mobile-menu-list">
        <li>
          <a class="btn-game" href="#">Game</a>
          
          <div class="list-game-mobile active-menu">
            <a class="icon-game">
              <img class="image-icon" src="images/school/games/words.png">
              <h2 class="name-icon">Words</h2>
            </a>
            <a class="icon-game">
              <img class="image-icon" src="images/school/games/coding.png">
              <h2 class="name-icon">Coding</h2>
            </a>

            <a class="icon-game">
              <img class="image-icon" src="images/school/games/numbers.png">
              <h2 class="name-icon">Numbers</h2>
            </a>

            <a class="icon-game">
              <img class="image-icon" src="images/school/games/tangram.png">
              <h2 class="name-icon">Tangram</h2>
            </a>

            <a class="icon-game">
              <img class="image-icon" src="images/school/games/pizza.png">
              <h2 class="name-icon">Pizza Co.</h2>
            </a>

            <a class="icon-game">
              <img class="image-icon" src="images/school/games/monster.png">
              <h2 class="name-icon">Monster</h2>
            </a>

          </div>
        </li>
        <li><a href="school-page.html">Schools</a></li>
        <li><a href="faq-page.html">Faqs</a></li>
        <li><a href="#">Jobs</a></li>
        <li><img class="img-mobile-menu" src="/images/logo.png"></li>
      </ul>
    </div><!--.mobile-menu-inner-->
  </div> <!--.mobile-menu-->

  <div class="container">
    <div class="hambuger-menu-col">
      <button class="hambuger-menu-btn"> 
        <div class="bar-1"></div>
        <div class="bar-2"></div>
        <div class="bar-3"></div>
      </button>
    </div>

    <div class="logo-col">
      <a href="index.html"><img class="logo-img" src="images/logo.png" alt=""/></a>
    </div>

    <div class="menu-page-col">
      <nav class="menu-page-nav">
        <ul class="menu-page-list">
          <li class="dropdown-menu">
            <div class="dropdown-btn" href="#">Game
              <div class="dropdown-content-block">
                  <div class="tab-head-title">
                    <div class="btn-change-tab active-tab">Featured</div>
                    <div class="btn-change-tab">All Game</div>
                  </div><!--tab-head-title-->

                  <div class="tab-body-content">

                    <div class="tab-content tab-1 is-expend ">
                      <div class="info-content">
                        <h1 class="title">Introducing</h1>
                        <div class="name"><img class="name-game" src="images/logo-detective-agency.png"></div>
                        <p class="desc">Travel to famous cities around the world, inspect hundreds of clues, and solve the mysteries!</p>
                        <a href="#" class="btn-more">Discover Detective Agency</a>
                      </div>   
                    </div>

                    <div class="tab-content tab-2  ">
                      <div class="all-games-list">
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/words.png">
                            <h2 class="game-name">Words</h2>
                          </a>
                
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/numbers.png">
                            <h2 class="game-name">Numbers</h2>
                          </a>
                
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/coding.png">
                            <h2 class="game-name">Coding Awbie</h2>
                          </a>
                
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/tangram.png">
                            <h2 class="game-name">Tangram</h2>
                          </a>

                          <a class="game-content">
                            <img class="game-img" src="images/school/games/pizza.png">
                            <h2 class="game-name">Pizza Co.</h2>
                          </a>

                          <a class="game-content">
                              <img class="game-img" src="images/school/games/monster.png">
                              <h2 class="game-name">Monster</h2>
                          </a>

                          <a class="game-content">
                            <img class="game-img" src="images/school/games/words.png">
                            <h2 class="game-name">Words</h2>
                          </a>
                
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/numbers.png">
                            <h2 class="game-name">Numbers</h2>
                          </a>
                
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/coding.png">
                            <h2 class="game-name">Coding Awbie</h2>
                          </a>
                
                          <a class="game-content">
                            <img class="game-img" src="images/school/games/tangram.png">
                            <h2 class="game-name">Tangram</h2>
                          </a>

                          <a class="game-content">
                            <img class="game-img" src="images/school/games/pizza.png">
                            <h2 class="game-name">Pizza Co.</h2>
                          </a>

                          <a class="game-content">
                              <img class="game-img" src="images/school/games/monster.png">
                              <h2 class="game-name">Monster</h2>
                          </a>
                        </div>
                    </div>
                  </div><!--tab-body-content---->

              </div><!--.dropdown-content-block-->
            </div>
          </li>
          <li><a href="school-page.html">Schools</a></li>
          <li><a href="faq-page.html">Faqs</a></li>
          <li><a href="#">myOsmo</a></li>
        </ul>
      </nav>
    </div>

    <div class="shop-col">
      <a class="shop-now-btn" href="#">Shop<span class="span-now"> now</span></a>
    </div>
  </div><!-- .container -->
</header><!--.header-block-->

