<div class="award-block">
    <div class="container">
      <div class="award-grid">
        <h1 class="award-title">People Love Us</h1>
        <div class="award-items">
          <img class="award-img" src="images/award-1.png">
          <img class="award-img" src="images/award-2.png">
          <img class="award-img" src="images/award-3.png">
          <img class="award-img" src="images/award-4.png">
        </div><!--.award-items-->
        <p class="award-desc">Over <a href="#">1,000 reviews</a> and 4.7/5 stars on <img  class="amz-logo" src="images/amazon-logo.png"> </p> 
      </div><!--.award-grid-->
    </div><!--.container-->
  </div><!--award-block-->