<div class="bner-block">
  <div class="video">
    <video autoplay muted loop class="video-bner" src="images/videos/bner-home.webm"></video>
  </div>
    
  <div class="container">
    <div class="bner-content">
      <div class="bner-text">
        <h1 class="bner-slogan">Real Play <br> Real Learning</h1>
        <a href="#" class="bner-btn-shop">Shop now</a>
      </div><!--.bner-text-->

      <div class="bner-btn-scrolldown">
        <a class="scrolldown-btn">
          <svg  data-svg="scroll-down-arrow-svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="77" height="51" viewBox="0 0 77 51">
            <g>
              <path d="M63.19 14.062l-24.693 22.87-24.693-22.87" style="stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;fill:none;fill-rule:evenodd"></path>
            </g>
          </svg>
        </a>
      </div><!--.bner-btn-scrolldown-->

    </div><!--.bner-content-->
  </div> <!--.container--> 
</div><!--.bner-block-->