<div class="osmo-school-block">
    <div class="container osmo-school-block__container">
  
      <h1 class="info-title mobile">School <i class="fas fa-heart"></i> Osmo </h1>
  
      <div class="osmo-school-inner">
  
        <div class="info-video">
          <iframe class="info-video-osmo" src="https://www.youtube.com/embed/zEsJwwdq4r8"></iframe>
        </div><!--.info-video-->
  
        <div class="info-school"> 
          <div class="info-school__content">
            <h1 class="info-title pc">School <i class="fas fa-heart"></i> Osmo </h1> 
            <p class="info-desc">Osmo has been adopted in over 30,000 schools in 42 countries around the world. 
                Teachers are raving about how their students love experimenting, exploring, creating and collaborating with Osmo.</P>
            <a href="#" class="osmo-school-btn">Osmo for school</a>
          </div>
        </div><!--.info-school-->
  
      </div><!--.osmo-school-inner-->  
    </div><!--.container-->
  </div><!--.osmo-school-block-->