<div class="page-welcome-block">
    <div class="container">
      <div class="block-head">
        <h2 class="block-title"> Welcome to Osmo</h2>
        <div class="block-desc">Welcome a place where kids explore, learn, create and interact with digital games in a whole new way</div>
      </div>
      
      <div class="block-main">
        <div class="bner-col-wrap">
          <div class="bner-group-col col-1">
            <div class="bner-item item-1">
              <div class="info-item">
                <h3 class="item-title">Monster</h3>
                <div class="item-desc">Bring drawings to life with the Creative Set.</div>
                <h4 class="item-price">$75</h4>
                <a href="#" class="btn-learn-more">Learn more</a>
              </div><!--.info-item-->
            </div>
  
            <div class="bner-item item-2">
              <div class="info-item">
                <h3 class="item-title">Numbers</h3>
                <div class="item-desc">Dive into an action-packed math game.</div>
                <h4 class="item-price">$49</h4>
                <a href="#" class="btn-learn-more">Learn more</a>
              </div>
            </div>
          </div><!--bner-group-col col-1-->
  
          <div class="bner-group-col col-2">
            <div class="bner-item item-3">
              <div class="info-item">
                <h3 class="item-title">Genius Kit for iPad</h3>
                <img class="img-3-hover" src="images/img-3-hover.png">
                <h4 class="item-price">$159</h4>
                <a href="#" class="btn-learn-more">Learn more</a>
              </div>
            </div>        
          </div><!--.bner-group-col col-2-->
  
          <div class="bner-group-col col-3">
            <div class="bner-item item-4"> 
              <div class="info-item">
                <h3 class="item-title">Coding Awbie</h3>
                <div class="item-desc">Go on an open-world coding adventure.</div>
                <h4 class="item-price">$75</h4>
                <a href="#" class="btn-learn-more">Learn more</a>
              </div>
            </div>
            <div class="bner-item item-5">
              <div class="info-item">
                <h3 class="item-title">Pizza Co.</h3>
                <div class="item-desc">Get an extra-large combo of fun and learning.</div>
                <h4 class="item-price">$59</h4>
                <a href="#" class="btn-learn-more">Learn more</a>
              </div>
            </div>
          </div><!--bner-group-col col-3-->
          <!--***************************-->
        </div><!--.bner-col-wrap-->
      </div><!--.block-main-->
    </div><!--.container-->
  </div><!--.page-welcome-block-->