<div class="retailer-block">
    <div class="container">
      <div class="retailer-grid">
        <h2 class="retailer-title">Also available at: </h2>
        <div class="retailer-item"><img class="retailer-img-item" src="images/apple.png"></div>
      </div><!--.retailer-grid-->
    </div><!--.container-->
  </div><!--.retailer-block-->