<div class="shopping-option-block">
    <div class="container">
      <div class="shop-option">
  
        <a href="#" class="option-box box-1">
            <div class="option-box__content">
              <h2 class="box-title">New to Osmo?</h2>
              <p class="box-desc">Get an Osmo kit!</p>
              <div class="box-image-holder img-1"></div> 
            </div>
  
            <div class="shop-buying">
              <p class="box-price">Starting from $49</p>
              <span class ="box-btn-shop">Shop <span class="for">for </span>Games</span>
            </div> 
        </a>
  
        <a href="#" class="option-box box-2" >
  
            <div class="option-box__content">
              <h2 class="box-title">Already an Osmonaut?</h2>
              <p class="box-desc">Expand your collection!</p>
              <div class="box-image-holder img-2"></div>   
            </div>
  
            <div class="shop-buying">
              <p class="box-price">Starting from $49</p>
              <span class ="box-btn-shop">Shop <span class="for">for </span>Games</span>
            </div>          
        </a><!--.option-box box-2-->
  
      </div><!--.shop-option-->
      <div class="image-monster"></div>
    </div><!---container-->
  </div><!--.shopping-option-block-->