<div class="works-with-block">
    <div class="container">
    <div class="works-block">
      <h2 class="works-title">Works with</h2>
      <div class="works-desc"><i class="fab fa-apple"></i> iPad</div>
      <a href="#" class="osmo-works-btn">See how Osmo works</a>
    </div><!--.works-block-->
    </div><!--.container-->
  </div><!--.works-with-block-->
  