<div class="bner-school-block">
  <div class="container">
      <h1 class="bner-school-title">Schools <i class="fas fa-heart"></i> Osmo</h1>
      <a href="#" class="video-btn"></a>   
  </div><!--.container-->
</div><!--.bner-school-block-->