<div class="community-block">
  <div class="container">
      <div class="content-grid">
          
          <div class="content-side-ready">
              <h1 class="info-title">Already have Osmo? </br> Join our community!</h1>
              <p class="info-desc">If you’re an educator who would love to spread the word about Osmo and help shape our products,
              become an Osmo Ambassador!</p>

          
              <div class="section-btn-head">
                  <p class="head-p">Learn more</p>
                  <img class="arrow-down" src="images/school/arrow-right.png"></img>
              </div><!--.section-head-->

              <div class="section-btn-body">
                  <p class="body-p"> 
                      Osmo Ambassadors are passionate about the benefits that Osmo brings to schools 
                      and go over and beyond to share their experiences with Osmo and provide feedback for future products. 
                      We provide our ambassadors with support, experiences, and rewards 
                      that take their Osmo engagement to the next level.
                  </p>
              </div><!--.section-body-->
          

              <a class="join-btn">Join the Osmo community <i class="fas fa-chevron-right"></i> </a> 
             
          </div><!--.content-side-ready-->

          <div class="content-side-info">
              <img class="img-info-pc" src="images/school/img-profile.png"></img>
              <p class="quote-teacher">“My ongoing relationship with Osmo has allowed me to provide insights for school products.
                Osmo supports me at conferences where I love sharing Osmo with other teachers, admins, and parents.”</p>

              <div class="info-teacher">
                  <img class="img-info mobile" src="images/school/img-profile.png"></img>
                  <h2 class="name-teacher">Dave Blanchard </br> Osmo Ambassador</h2>
              </div>

          </div> <!--.content-side-info-->

      </div> <!--content-grid-->
  </div><!--container-->
</div><!--.community-block-->