<div class="content-traning-block">
    <div class="container">
        <div class="traing-row">

            <div class="image-training">
            </div><!--.image-training-->

            <div class="info-training">
                <h2 class="info-title">Want to learn how to integrate Osmo in the classroom?</h2>
                <p class="info-desc">Osmo Teacher Training will help you integrate Osmo in the classroom! </p>
                <a class="info-btn">Go to Osmo Teacher Training <i class="fas fa-chevron-right"></i> </a>
            </div><!--.info-training-->

        </div><!--.traing-row-->
    </div><!--.container-->
</div><!--.content-traning-block-->