<div class="get-osmo-block">
  <div class="container">
      <div class="get-osmo-content">
          <h1 class="osmo-title">Get Osmo for your classroom</h1>
          <p class="osmo-desc">Mix and match! Request a quote to check out our new educational bundles.</p>
          <a class="osmo-btn" href="#"> <span class="btn-p">Explore Education Bundles</span> <i class="fas fa-chevron-right"></i></a>
      </div><!--.get-osmo-content-->
  </div>
</div><!--.get-osmo-block-->