<div class="introduce-block">
  <div class="container">
      <p class="text-center">
          More than <span class="schools-number"></span> schools use Osmo to change the way kids collaborate, create, think critically, and communicate.
      </p>
  </div>
</div><!--.introduce-block-->
