<div class="learning-osmo-block">
  <div class="learning-image">
      {# <img class="edu-img" src ="images/school/education.png"> #}
  </div>
  <div class="container"> 

      <div class="learning-osmo-content">
          <div class="learning-info">
              <h1 class="info-title">Meet Osmo</h1>
              <p class="info-desc">Osmo enables the iPad and iPhone to merge the power of physical play with the digital 
              advantages of real-time feedback. Playing beyond the screen invites students to collaborate on 
              tables or floors while manipulating tangible game pieces such as number tiles, letter tiles, and coding blocks.</p>
          </div>
      </div><!--.learning-osmo-content-->

  </div><!--.container-->  
</div><!--.learning-osmo-block-->