<div class="need-funding-block">
  <div class="container">
      <div class="content-grid">

          <div class="content-info">
              <h1 class="info-title">Need funding? Try DonorsChoose.org</h1>
              <p class="info-desc">More than 2,000 projects for Osmo games have been funded through DonorsChoose.org..</p>
              <a class="start-btn">Start a project  <i class="fas fa-chevron-right"></i> </a> </br>
              <a class="open-btn">Or, view open projects <i class="fas fa-chevron-right"></i> </a>
          </div><!--.info-training-->

          <div class="content-image">
          </div>
      </div><!--.content-grid-->
  </div>
</div><!--.need-funding-block-->