<div class="osmo-case-block">
  <div class="container">
      <div class="content-grid">

          <div class="content-info">
              <h1 class="info-title">You asked.</h1>
              <h1 class="info-title">We delivered.</h1>
              <h3 class="info-title-2">New Osmo Base + Case</h3>
              <p class="info-desc">A case and base designed to withstand classroom wear and tear.</p>
          </div><!--.info-training-->

          <div class="content-image">
          </div>
      </div><!--.content-grid-->
  </div>
</div><!--.osmo-case-block-->