<div class="school-carousel-block">
  <div id="school-carousel-block" class="swiper-container">
    <div class="swiper-wrapper">

      <a href="#" class="swiper-slide">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="front-img" src="images/school/lesson/art.jpg">
                  <p class="category-name">Art</p>
                </div>
                <div class="flip-box-back color-1">
                  <div class="flip-back-content">
                    <p class="lesson-name">Sample Lesson</p>
                    <p class="lesson-desc">Draw a Self-Portrait</p>
                    <div class="game-icon icon-1"></div>
                  </div><!--.flip-back-content-->
                </div>
            </div>
          </div><!--.flip-box-->
      </a><!--.swiper-slide slide-1-->

      <a href="#" class="swiper-slide">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="front-img" src="images/school/lesson/geography.jpg">
                  <p class="category-name">Geography</p>
                </div>
                <div class="flip-box-back color-2">
                    <div class="flip-back-content">
                        <p class="lesson-name">Sample Lesson</p>
                        <p class="lesson-desc">States and Capitals</p>
                        <div class="game-icon icon-2"></div>
                      </div><!--.flip-back-content-->
                </div>
            </div>
          </div><!--.flip-box-->
      </a><!--.swiper-slide slide-2-->

      <a href="#" class="swiper-slide">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="front-img" src="images/school/lesson/handwriting.jpg">
                  <p class="category-name">Handwriting</p>
                </div>
                <div class="flip-box-back color-3">
                    <div class="flip-back-content">
                        <p class="lesson-name">Sample Lesson</p>
                        <p class="lesson-desc">How Do I Write My Name?</p>
                        <div class="game-icon icon-3"></div>
                      </div><!--.flip-back-content-->
                </div>
            </div>
          </div><!--.flip-box-->
      </a><!--.swiper-slide slide-3-->

      <a href="#" class="swiper-slide">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="front-img" src="images/school/lesson/reading.jpg">
                  <p class="category-name">Reading</p>
                </div>
                <div class="flip-box-back color-4">
                    <div class="flip-back-content">
                        <p class="lesson-name">Sample Lesson</p>
                        <p class="lesson-desc">Draw a Self-Portrait</p>
                        <div class="game-icon icon-4"></div>
                      </div><!--.flip-back-content-->
                </div>
            </div>
          </div><!--.flip-box-->
      </a><!--.swiper-slide slide-4-->

      <a href="#" class="swiper-slide">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="front-img" src="images/school/lesson/spelling.jpg">
                  <p class="category-name">Spelling</p>
                </div>
                <div class="flip-box-back color-5">
                    <div class="flip-back-content">
                        <p class="lesson-name">Sample Lesson</p>
                        <p class="lesson-desc">Goodnight Moon</p>
                        <div class="game-icon icon-5"></div>
                      </div><!--.flip-back-content-->
                </div>
            </div>
          </div><!--.flip-box-->
      </a><!--.swiper-slide slide-5-->

      <a href="#" class="swiper-slide">
          <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class="front-img" src="images/school/lesson/stem.jpg">
                  <p class="category-name">STEM</p>
                </div>
                <div class="flip-box-back color-6">
                    <div class="flip-back-content">
                        <p class="lesson-name">Sample Lesson</p>
                        <p class="lesson-desc">What Time Is It</p>
                        <div class="game-icon icon-6"></div>
                      </div><!--.flip-back-content-->
                  
                </div>
            </div>
          </div><!--.flip-box-->
      </a><!--.swiper-slide slide-6-->

      <div class="swiper-slide">
        <div class="flip-box">
          <div class="flip-box-inner">
              <div class="flip-box-front">
                <img class="front-img" src="images/school/lesson/reading.jpg">
                <p class="category-name">Reading</p>
              </div>
              <div class="flip-box-back color-7">
                  <div class="flip-back-content">
                      <p class="lesson-name">Sample Lesson</p>
                      <p class="lesson-desc">Hello, It's Me</p>
                      <div class="game-icon icon-7"></div>
                    </div><!--.flip-back-content-->
              </div>
          </div><!--.flip-box-inner-->
        </div><!--.flip-box-->
      </div><!--.swiper-slide slide-7-->
      
    </div><!--.swiper-wrapper-->
    
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="container">
    <div class="more-plans-block">
        <p class="more-plans-desc">From phonics to photosynthesis, 
          Osmo lesson plans can be easily integrated into any classroom. 
          Let these lesson plans inspire your next exciting classroom — or even better —
          <strong> "customize your own lesson and Word albums in"</strong>
          <a href="#">MyOsmo</a>
        </p>
        <a class="btn-see-all" href="#">See all Lessons Plans <i class="fas fa-chevron-right"></i> </a></br>
        <a class="btn-download " href="#"><i class="fas fa-arrow-down"></i> Or, download a printable teacher’s guide</a>
      </div>
  </div>
  
</div><!--.school-carousel-block-->