<div class="school-stripe-block">
  <div class="container">
      <h2 class="stripe-title">The Four C’s of the 21st Century</h2>

      <div class="block-body">
        <div id="school-stripe-block-slider" class="swiper-container">
          <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">

                <div class="slide-content">
                  
                  <div class="slide-info">
                    <h2 class="info-title title-1">1. Collaboration</h2>
                    <p class="info-desc">Bring students together naturally.
                       Osmo’s open game play encourages interaction and collaboration,
                        allowing for the development of social-emotional skills. 
                        Students learn by engaging, and with Osmo, teachers are able to promote 
                        open-ended interaction and learning through discovery
                      </p>
                  </div><!--.slide-info-->

                  <div class="slide-image img-1">
                  </div><!--.slide-image-->
                  
                </div><!--.slide-content-->

              </div><!--.swiper-slide slide-1-->

              <div class="swiper-slide">

                  <div class="slide-content">
                  
                      <div class="slide-info">
                        <h2 class="info-title title-2">2. Communication</h2>
                        <p class="info-desc">Open lines of communication with Osmo.
                           As students work together to overcome the different challenges in each app, 
                           they also learn cooperation, gain social and emotional understanding of their peers,
                          recognize the strengths of others in the group, and foster leadership skills.
                          </p>
                      </div><!--.slide-info-->
  
                      <div class="slide-image img-2">
                      </div><!--.slide-image-->
                      
                    </div><!--.slide-content-->

              </div><!--.swiper-slide slide-2-->

              <div class="swiper-slide">

                  <div class="slide-content">
                  
                      <div class="slide-info">
                        <h2 class="info-title title-3">3. Creativity</h2>
                        <p class="info-desc">Osmo provides a platform for free form expression. 
                          By incorporating real world items into game play, students are not limited by the apps’ programming.
                          Unlimited solutions encourage students to think outside the
                          box and find answers as unique as the students themselves.
                          </p>
                      </div><!--.slide-info-->
  
                      <div class="slide-image img-3">
                      </div><!--.slide-image-->
                      
                    </div><!--.slide-content-->

              </div><!--.swiper-slide slide-3-->

              <div class="swiper-slide">

                  <div class="slide-content">
                  
                      <div class="slide-info">
                        <h2 class="info-title title-4">4. Critical Thinking</h2>
                        <p class="info-desc">The different Osmo apps tap into a student’s curiosity and creativity to encourage 
                          hands-on problem solving and social skill development. Working alone or in groups,
                          our apps provide the right amount of challenge, pushing the students to continue developing their 
                          skill sets and challenge themselves. It’s learning through play!
                          </p>
                      </div><!--.slide-info-->
  
                      <div class="slide-image img-4">
                      </div><!--.slide-image-->
                      
                    </div><!--.slide-content-->

              </div><!--.swiper-slide slide-4-->

            </div><!--.swiper-wrapper-->

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
      </div>
  </div><!--.container-->
</div><!--.school-stripe-block-->