<div class="stripe-for-grades">
  <div class="container">

    <div class="grades-head">
      <h1 class="head-title">For grades K-6</h1>
      <p class="head-desc">Osmo’s growing collection of apps for iPad and iPhone
        cross subject areas and include various challenge levels for students of differing abilities.
      </p>
    </div>
    
    <div class="grades-body">

      <div class="grades-list-game-icon">
        <div class="img-icon-game icon-1 active"></div>
        <div class="img-icon-game icon-2"></div>
        <div class="img-icon-game icon-3"></div>
        <div class="img-icon-game icon-4"></div>
        <div class="img-icon-game icon-5"></div>
        <div class="img-icon-game icon-6"></div>
      </div>

      <div class="info-game">
        <div class="info-game-inner is-expand">
          <div class="grades-list-game-info">
              <div class="game-image-contain">
                <div class="gallery-top">
                  <video class="show-galery-top show" autoplay loop muted src="images/videos/words-demo-loop.webm"></video>
                  
                  <div class="show-galery-top img-1" ></div>
                </div>
                <div class="gallery-thumbs">
                    <div class="show-galery-thumbs thumbs-1 active"></div>
                    <div class="show-galery-thumbs thumbs-2"></div>
                  </div>
              </div>
      
              <div class="game-info-contain">
                  <h1 class="game-name">Words</h1>
                  <p class="game-desc">
                  <strong>Words</strong> provides on-screen clues to mystery words. Students use letter tiles to spell their answers.
                    Designed to feel like a challenging game, Words is a powerful tool to differentiate instruction.</br></br>
                  <strong>Reading</strong> - Develops the foundational skills surrounding letter recognition and decoding.
                    As they gain proficiency and confidence, students are required to spell progressively challenging words.</br>
                  <strong>Vocabulary</strong> - Connects images to words and supports the creation of customizable albums of words and images
                </p>
              </div>
          </div><!--.grades-list-game-info-Words-->
        </div>
        
        <div class="info-game-inner">
          <div class="grades-list-game-info">

              <div class="game-image-contain">
                <div class="gallery-top">
                  <video class="show-galery-top show" autoplay loop src="images/videos/coding-awbie-demo-loop.webm"></video>
                  
                  <div class="show-galery-top img-2" ></div>
                </div>
                <div class="gallery-thumbs">
                    <div class="show-galery-thumbs thumbs-3 active"></div>
                    <div class="show-galery-thumbs thumbs-4"></div>
                  </div>
              </div><!--.game-image-contain-->
      
              <div class="game-info-contain">
                  <h1 class="game-name">Coding</h1>
                  <p class="game-desc">
                    <strong>Coding Awbie</strong> introduces the foundational skills of programming as kids join Awbie on a strawberry-munching adventure.</br>
                    <strong>Computational Thinking</strong> - Teaches programming through exploring the functions of decomposed parts,
                    detecting patterns, and crafting algorithms.</br>
                    <strong>Logical Reasoning</strong> - Integrates the “loop” block that reflects multiplicative thinking and the 
                      “if this, then…” block that highlights cause-and-effect.
                </p>
              </div>
          </div><!--.grades-list-game-info-Coding-->
        </div>
        
        <div class="info-game-inner">
          <div class="grades-list-game-info">

              <div class="game-image-contain">
                <div class="gallery-top">
                  <video class="show-galery-top show" autoplay loop muted src="images/videos/numbers-demo-loop.webm"></video>
                  
                  <div class="show-galery-top img-3"></div>
                </div>
                <div class="gallery-thumbs">
                    <div class="show-galery-thumbs thumbs-5 active"></div>
                    <div class="show-galery-thumbs thumbs-6"></div>
                  </div>
              </div><!--.game-image-contain-->
      
              <div class="game-info-contain">
                  <h1 class="game-name">Numbers</h1>
                  <p class="game-desc">
                    <strong>Numbers</strong>  helps students dive into math.
                    Moving number tiles in this undersea world makes math fast and intuitive.</br>
                    <strong>Number Sense</strong> - Fosters understanding of counting, relative values,
                    addition, concatenation, and multiplication using physical tiles of dots and digits.</br>
                    <strong>Cognitive Flexibility</strong>- Encourages experimenting with multiple solutions
                    to mathematical problems through open-ended play.
                </p>
              </div>
          </div><!--.grades-list-game-info-Numbers-->
        </div>
        
        <div class="info-game-inner">
          <div class="grades-list-game-info">

              <div class="game-image-contain">
                <div class="gallery-top">
                  <video class="show-galery-top show" autoplay loop muted src="images/videos/pizza-co-demo-loop.webm"></video>
                  
                  <div class="show-galery-top img-4" ></div>
                </div>
                <div class="gallery-thumbs">
                    <div class="show-galery-thumbs thumbs-7 active"></div>
                    <div class="show-galery-thumbs thumbs-8"></div>
                  </div>
              </div><!--.game-image-contain-->
      
              <div class="game-info-contain">
                  <h1 class="game-name">Pizza Co.</h1>
                  <p class="game-desc">
                    <strong>Pizza Co.</strong>  turns students into entrepreneurs as they make pizzas to order, 
                      calculate change, and invest their profits to upgrade their shop.</br>
                    <strong>Math</strong> - Highlights comparisons of number values and fractions.</br>
                    <strong>Nonverbal Communication</strong>- Animated customers give instant feedback via facial expressions and body language. 
                      Students use this feedback to inform their next move.
                </p>
              </div>
          </div><!--.grades-list-game-info-Pizza-co-->
        </div>
        
        <div class="info-game-inner">
          <div class="grades-list-game-info">

              <div class="game-image-contain">
                <div class="gallery-top">
                  <video class="show-galery-top show" autoplay loop muted src="images/videos/tangram-demo-loop.webm"></video>
                  
                  <div class="show-galery-top img-5" ></div>
                </div>
                <div class="gallery-thumbs">
                    <div class="show-galery-thumbs thumbs-9 active"></div>
                    <div class="show-galery-thumbs thumbs-10"></div>
                  </div>
              </div><!--.game-image-contain-->
      
              <div class="game-info-contain">
                  <h1 class="game-name">Tangram</h1>
                  <p class="game-desc">
                    <strong>Tangram</strong>  invites students to use tangible puzzle pieces to match on-screen shapes.
                    With each success, the screen lights up in celebration.</br>
                    <strong>Spatial Reasoning</strong> - Encourages students to compare, manipulate, and transform geometric pieces to assemble the shapes.</br>
                    <strong>Self-Correction</strong> - Provides instant visual and auditory feedback during gameplay.
                </p>
              </div>
          </div><!--.grades-list-game-info-Tangram-->
        </div>

        <div class="info-game-inner">
          <div class="grades-list-game-info">

              <div class="game-image-contain">
                <div class="gallery-top">
                  <video class="show-galery-top show" autoplay loop muted src="images/videos/monster-board-demo-loop.webm"></video>
                  
                  <div class="show-galery-top img-6" style="background: url('../images/school/thumb/schools-monster.jpg')center/contain no-repeat"></div>
                </div>
                <div class="gallery-thumbs">
                    <div class="show-galery-thumbs thumbs-11 active"></div>
                    <div class="show-galery-thumbs thumbs-12"></div>
                  </div>
              </div><!--.game-image-contain-->
      
              <div class="game-info-contain">
                  <h1 class="game-name">Monster</h1>
                  <p class="game-desc">
                    <strong>Monster</strong> brings drawings to life. Students help Mo, a furry orange friend,
                    by drawing his world and sharing an adventure with him.</br>
                    <strong>English as a Second Language</strong> - Cements understanding of new vocabulary and comprehension through interactive activities with Mo.</br>
                    <strong>Listening Skills</strong>- Animated customers give instant feedback via facial expressions and body language. 
                    Students use this feedback to inform their next move.
                </p>
              </div>
          </div><!--.grades-list-game-info-Monster-->
        </div>
        
      </div><!--.info-game-->
      


    </div><!--grades-body-->
  </div><!--.container-->
</div>