<div class="teach-with-osmo-block">
  <div class="container">
    <h1 class="block-title">Teach with Osmo</h1>
    <div class="block-body">

      <div class="body-element">
        <img class="el-image" src="images/school/osmo-benefits-skills.png"></img>
        <h3 class="el-title">21st Century Skills</h3>
        <p class="el-desc">Inspires creativity, critical thinking, communication, and collaboration</p>
      </div>

      <div class="body-element">
        <img class="el-image" src="images/school/osmo-benefits-easy.png"></img>
        <h3 class="el-title">Easy as 1, 2, 3</h3>
        <p class="el-desc">Easy to install, introduce, oversee, and pack away without professional development training</p>
      </div>

      <div class="body-element">
        <img class="el-image"  src="images/school/osmo-benefits-support.png"></img>
        <h3 class="el-title">Continuous Support</h3>
        <p class="el-desc">Osmo Support and Advisory Team, staffed by teachers for teachers</p>
      </div>

    </div><!--.block-body-->
  </div><!--.container---->
</div><!--.teach-with-osmo-block-->